@model DHB_Win.Models.BetOption

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BetOption</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descpription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descpription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuoteValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bet.BetId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OptionsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
