@model IEnumerable<DHB_Win.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card card-widget widget-user">

    <div class="widget-user-header text-white" style="background: url('../dist/img/photo1.png') center center;">
        <h3 class="widget-user-username text-right">SIMONSTER BURRI@*@Html.DisplayFor(modelItem => model.Firstname)  @Html.DisplayFor(model => model.)*@</h3>
        <h5 class="widget-user-desc text-right">Benutzerprofil</h5>
    </div>
    <div class="widget-user-image">
        <img class="img-circle" src="../dist/img/user3-128x128.jpg" alt="User Avatar">
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">3,200</h5>
                    <span class="description-text">SALES</span>
                </div>

            </div>

            <div class="col-sm-4 border-right">
                <div class="description-block">
                    <h5 class="description-header">100000@*@Html.DisplayFor(modelItem => model.Uid.Walletbalance)*@</h5>
                    <span class="description-text">@Html.DisplayNameFor(model => model.Walletbalance)</span>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="description-block">
                    <h5 class="description-header">35@*@Html.DisplayFor(model => model.ExpPoints)*@</h5>
                    <span class="description-text">@Html.DisplayNameFor(model => model.ExpPoints)</span>
                </div>

            </div>
            <br>
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">MAMAMAM</h5>
                        <span class="description-text">@Html.DisplayNameFor(model => model.EMail)</span>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">MAMAMAM</h5>
                        <span class="description-text">  @Html.DisplayNameFor(model => model.Street)</span>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">MAMAMAM</h5>
                        <span class="description-text">@Html.DisplayNameFor(model => model.PlzFkNavigation)</span>
                    </div>

                </div>
                <br>
                 <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="2">@*asp-route-id="@item.Uid"*@
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Bearbeiten
                                </a>

        </div>

    </div>
</div>
