@model IEnumerable<DHB_Win.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Benutzerprofil</h1>

<p>
     @Html.ActionLink("Daten bearbeiten", "Edit", "User", new {})
  <a asp-action="Edit">Daten bearbeiten</a> <!-- beide Varianten werden net gefunden ....?!-->
</p>
<div class="card card-widget widget-user">

<div class="widget-user-header text-white" style="background: url('../dist/img/photo1.png') center center;">
<h3 class="widget-user-username text-right">Elizabeth Pierce</h3>
<h5 class="widget-user-desc text-right">Web Designer</h5>
</div>
<div class="widget-user-image">
<img class="img-circle" src="../dist/img/user3-128x128.jpg" alt="User Avatar">
</div>
<div class="card-footer">
<div class="row">
<div class="col-sm-4 border-right">
<div class="description-block">
<h5 class="description-header">3,200</h5>
<span class="description-text">SALES</span>
</div>

</div>

<div class="col-sm-4 border-right">
<div class="description-block">
<h5 class="description-header">13,000</h5>
<span class="description-text">FOLLOWERS</span>
</div>

</div>

<div class="col-sm-4">
<div class="description-block">
<h5 class="description-header">35</h5>
<span class="description-text">PRODUCTS</span>
</div>

</div>

</div>

</div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Walletbalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profilepicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlzFkNavigation)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Walletbalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profilepicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlzFkNavigation.Plz1)
            </td>
            <td>
            </td>
        </tr>
    }
    </tbody>
</table>
