@model IEnumerable<DHB_Win.Models.Placement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BetOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bet.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BetOption.OptionsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlacementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlacementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlacementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
