@model DHB_Win.Models.Bet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Löschen</h1>

<h3>Sicher, dass sie dieses Element löschen wollen?</h3>
<div>
    <h4>Wette</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reward)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reward)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UidFk2Navigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UidFk2Navigation.Uid)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="BetId"/>
        <input type="submit" value="Löschen" class="btn btn-danger"/> |
        <a asp-action="Index">Zurück zu den Wetten</a>
    </form>
</div>
