@model IEnumerable<DHB_Win.Models.Bet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wetten</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-info float-left">Neue Wette erstellen</a>
    <br>
</p>
<table class="table table-striped projects">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UidFk2Navigation)
            </th>
            <th style="width:5%">
                @Html.DisplayNameFor(model => model.ExpPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reward)
            </th>
            <th>Optionen</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item.BetId)
                </td>
                <td>
                    <a>
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                    <br>
                    <small>Created @Html.DisplayFor(modelItem => item.CreationDate)</small>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UidFk2Navigation.Uid) @*Profilbild und Username hier rein?*@
                </td>

                <td class="project-state">
                    <span class="badge badge-success">@Html.DisplayFor(modelItem => item.ExpPoints)</span>
                </td>
                <td class="project_progress">
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@Html.DisplayFor(modelItem => item.Reward)" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(modelItem => item.Reward)%">
                        </div>
                    </div>
                    <small>
                        @Html.DisplayFor(modelItem => item.Reward) Betcoins
                    </small>
                </td>
                <td class="project-actions text-right">
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.BetId">
                        <i class="fas fa-folder">
                        </i>
                        Details
                    </a>
                    <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.BetId">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Bearbeiten
                    </a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.BetId">
                        <i class="fas fa-trash">
                        </i>
                        Löschen
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
