@model IEnumerable<DHB_Win.Models.Bet>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //HOMEPAGE
}

<section class="content">


   @* <table class="table table-striped projects">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UidFk2Navigation)
            </th>
            <th style="width:5%">
                @Html.DisplayNameFor(model => model.ExpPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reward)
            </th>
            <th>Optionen</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item.BetId)
                </td>
                <td>
                    <a>
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                    <br>
                    <small>Created @Html.DisplayFor(modelItem => item.CreationDate)</small>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UidFk2Navigation.Uid) 
                </td>

                <td class="project-state">
                    <span class="badge badge-success">@Html.DisplayFor(modelItem => item.ExpPoints)</span>
                </td>
                <td class="project_progress">
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@Html.DisplayFor(modelItem => item.Reward)" aria-valuemin="0" aria-valuemax="100" style="width:@Html.DisplayFor(modelItem => item.Reward)%">
                        </div>
                    </div>
                    <small>
                        @Html.DisplayFor(modelItem => item.Reward) Betcoins
                    </small>
                </td>
                <td class="project-actions text-right">
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.BetId">
                        <i class="fas fa-folder">
                        </i>
                        Details
                    </a>
                    <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.BetId">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Bearbeiten
                    </a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.BetId">
                        <i class="fas fa-trash">
                        </i>
                        Löschen
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

*@




    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Wetten</h3>       
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 1%">
                            No.
                        </th>
                        <th style="width: 20%">
                            Wettenname
                        </th>
                        <th style="width: 30%">
                            Beteiligte
                        </th>
                        <th>
                            Einsatzhöhe
                        </th>
                        <th style="width: 8%" class="text-center">
                            Status
                        </th>
                        <th style="width: 20%">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                Schaffen wir das Prjekt?
                            </a>
                            <br>
                            <small>
                                Created 01.01.2019
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                                </div>
                            </div>
                            <small>
                                57% Complete
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                DHB-Win
                            </a>
                            <br>
                            <small>
                                Created 2022
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100" style="width: 47%">
                                </div>
                            </div>
                            <small>
                                47% Complete
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                AdminLTE v3
                            </a>
                            <br>
                            <small>
                                Created 01.01.2019
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                                </div>
                            </div>
                            <small>
                                77% Complete
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                AdminLTE v3
                            </a>
                            <br>
                            <small>
                                Created 01.01.2019
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                </div>
                            </div>
                            <small>
                                60% Complete
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                AdminLTE v3
                            </a>
                            <br>
                            <small>
                                Created 01.01.2019
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar5.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%">
                                </div>
                            </div>
                            <small>
                                12% Complete
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                AdminLTE v3
                            </a>
                            <br>
                            <small>
                                Created 01.01.2019
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                </div>
                            </div>
                            <small>
                                35% Complete
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                AdminLTE v3
                            </a>
                            <br>
                            <small>
                                Created 01.01.2019
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar5.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                </div>
                            </div>
                            <small>
                                87% Complete
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                AdminLTE v3
                            </a>
                            <br>
                            <small>
                                Created 01.01.2019
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                                </div>
                            </div>
                            <small>
                                77% Complete
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                AdminLTE v3
                            </a>
                            <br>
                            <small>
                                Created 01.01.2019
                            </small>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
                                </li>
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="../../dist/img/avatar5.png">
                                </li>
                            </ul>
                        </td>
                        <td class="project_progress">
                            <div class="progress progress-sm">
                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                                </div>
                            </div>
                            <small>
                                77% Complete
                            </small>
                        </td>
                        <td class="project-state">
                            <span class="badge badge-success">Success</span>
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                View
                            </a>
                            <a class="btn btn-info btn-sm" href="#">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</section>


<div class="card">
<div class="card-header">
<h3 class="card-title">Aufträge</h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
<i class="fas fa-minus"></i>
</button>
<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
<i class="fas fa-times"></i>
</button>
</div>
</div>
<div class="card-body p-0">
<table class="table table-striped projects">
<thead>
<tr>
<th style="width: 1%">
#
</th>
<th style="width: 20%">
Auftragname
</th>
<th style="width: 30%">
Auftraggeber
</th>
<th>
Laufzeit
</th>
<th style="width: 8%" class="text-center">
Status
</th>
<th style="width: 20%">
</th>
</tr>
</thead>
<tbody>
<tr>
<td>
#
</td>
<td>
<a>
AdminLTE v3
</a>
<br>
<small>
Created 01.01.2019
</small>
</td>
<td>
<ul class="list-inline">
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
</li>
</ul>
</td>
<td class="project_progress">
<div class="progress progress-sm">
<div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
</div>
</div>
<small>
57% Complete
</small>
</td>
<td class="project-state">
<span class="badge badge-success">Success</span>
</td>
<td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
<a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
</tr>
<tr>
<td>
#
</td>
<td>
<a>
 AdminLTE v3
</a>
<br>
<small>
Created 01.01.2019
</small>
</td>
<td>
<ul class="list-inline">
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
</li>
</ul>
</td>
<td class="project_progress">
<div class="progress progress-sm">
<div class="progress-bar bg-green" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100" style="width: 47%">
</div>
</div>
<small>
47% Complete
</small>
</td>
<td class="project-state">
<span class="badge badge-success">Success</span>
</td>
<td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
<a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
</tr>
<tr>
<td>
#
</td>
<td>
<a>
AdminLTE v3
</a>
<br>
<small>
Created 01.01.2019
</small>
</td>
<td>
<ul class="list-inline">
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
</li>
</ul>
</td>
<td class="project_progress">
<div class="progress progress-sm">
<div class="progress-bar bg-green" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
</div>
</div>
<small>
77% Complete
</small>
</td>
<td class="project-state">
<span class="badge badge-success">Success</span>
</td>
<td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
<a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
</tr>
<tr>
<td>
#
</td>
<td>
<a>
AdminLTE v3
</a>
<br>
<small>
Created 01.01.2019
</small>
</td>
<td>
<ul class="list-inline">
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
</li>
</ul>
</td>
<td class="project_progress">
<div class="progress progress-sm">
<div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
</div>
</div>
<small>
60% Complete
</small>
</td>
<td class="project-state">
<span class="badge badge-success">Success</span>
</td>
<td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
<a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
</tr>
<tr>
<td>
#
</td>
<td>
<a>
AdminLTE v3
</a>
<br>
<small>
Created 01.01.2019
</small>
</td>
<td>
<ul class="list-inline">
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar5.png">
</li>
</ul>
</td>
<td class="project_progress">
<div class="progress progress-sm">
<div class="progress-bar bg-green" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100" style="width: 12%">
</div>
</div>
<small>
12% Complete
</small>
</td>
<td class="project-state">
<span class="badge badge-success">Success</span>
</td>
<td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
<a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
</tr>
<tr>
<td>
#
</td>
<td>
<a>
AdminLTE v3
</a>
<br>
<small>
Created 01.01.2019
</small>
</td>
<td>
<ul class="list-inline">
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar2.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
</li>
</ul>
</td>
<td class="project_progress">
<div class="progress progress-sm">
<div class="progress-bar bg-green" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
</div>
</div>
<small>
35% Complete
</small>
</td>
<td class="project-state">
<span class="badge badge-success">Success</span>
</td>
<td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
<a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
</tr>
<tr>
<td>
#
</td>
<td>
<a>
AdminLTE v3
</a>
<br>
<small>
Created 01.01.2019
</small>
</td>
<td>
<ul class="list-inline">
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar5.png">
</li>
</ul>
</td>
<td class="project_progress">
<div class="progress progress-sm">
<div class="progress-bar bg-green" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
</div>
</div>
<small>
87% Complete
</small>
</td>
<td class="project-state">
<span class="badge badge-success">Success</span>
</td>
<td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
<a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
</tr>
<tr>
<td>
#
</td>
<td>
<a>
AdminLTE v3
</a>
<br>
<small>
Created 01.01.2019
</small>
</td>
<td>
<ul class="list-inline">
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
</li>
</ul>
</td>
<td class="project_progress">
<div class="progress progress-sm">
<div class="progress-bar bg-green" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
</div>
</div>
<small>
77% Complete
</small>
</td>
<td class="project-state">
<span class="badge badge-success">Success</span>
</td>
<td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
<a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
</tr>
<tr>
<td>
#
</td>
<td>
<a>
AdminLTE v3
</a>
<br>
<small>
Created 01.01.2019
</small>
</td>
<td>
<ul class="list-inline">
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar3.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar4.png">
</li>
<li class="list-inline-item">
<img alt="Avatar" class="table-avatar" src="../../dist/img/avatar5.png">
</li>
</ul>
</td>
<td class="project_progress">
<div class="progress progress-sm">
<div class="progress-bar bg-green" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
</div>
</div>
<small>
77% Complete
</small>
</td>
<td class="project-state">
<span class="badge badge-success">Success</span>
</td>
<td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
 <a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
</tr>
</tbody>
</table>
</div>

</div>
