@model DHBWin_Neu.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.walletbalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.walletbalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profilepicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profilepicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLZ.Ort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLZ.Ort)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
