@model IEnumerable<DHBWin_Neu.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.walletbalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profilepicture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLZ.Ort)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vorname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.walletbalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profilepicture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLZ.Ort)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UID })
        </td>
    </tr>
}

</table>
